html {
  height: 100%;
  background-color: rgba(242,253,253,0.918)
}
body {
  font-family:'Inria Sans', sans-serif, arial, verdana;
  padding: 20px 5px 10px 3px;
}
h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  color#04333e
  font-family: 'Inria Sans', sans-serif, arial, verdana;;
  
}
form {
  text-align: center;
  display: block;
  position: relative;
}
p {
  text-align: left;
  content: center;
  margin: 0 10px;
  padding: 10px 25px 10px 3px;
  border: bold;
  font-size: 16px;
  font-family:'Inria Sans', sans-serif, arial, verdana;
}
fieldset {
  display: relative;
  border: 0 none;
  border-radius: 10px 10px 10px 10px;
  margin: 0 10px 10px;
  padding: 20px 1px 50px 1px;
  box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.4);
  width: 350px;
  position: flex;
  text-align: center;
  flex-direction: center;
}
label {
  text-align: block;
  color: black;
  font-size: 12px;
  font-weight: bold;
}
input, textarea {
  border: 0px solid;
  border-radius: 2px 2px 3px 2px;
  margin: 10px;
  width: 73%;
  height: 50px;
  background-color: #EDF2F7;
  box-sizing: border-box;
}
img {
  width: 15%;
}

select {
  border: 0px solid;
  border-radius: 2px 2px 3px 2px;
  margin: 10px;
  width: 73%;
  height: 50px;
  background-color: #EDF2F7;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 95%;
  height: 50px;
  font-size: 17px;
  background-color: #d9dff4e4
}

fieldset {
  background-color: rgba(112,209,218,0.465);
}
  
